div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#Layer6
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text26 div
{
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2
{
   color: #FF0000;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-size: 15px;
   line-height: 18px;
}
#wb_Text2 p, #wb_Text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text18 div
{
   text-align: center;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text22 div
{
   text-align: center;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon1
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon2
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Button1
{
   line-height: 32px;
   text-align: center;
   text-decoration: none;
   vertical-align: top;
   border: 1px solid #FFFFFF;
   border-radius: 10px;
   background-color: #000000;
   background-image: none;
   color: #FFFFFF;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 451px;
   top: 1370px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 6;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 490px;
   top: 1370px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 7;
}
#wb_Text1
{
   position: absolute;
   left: 176px;
   top: 491px;
   width: 618px;
   height: 183px;
   z-index: 1;
}
#wb_Text2
{
   position: absolute;
   left: 176px;
   top: 770px;
   width: 618px;
   height: 263px;
   z-index: 2;
}
#wb_Image1
{
   position: absolute;
   left: 334px;
   top: 126px;
   width: 302px;
   height: 356px;
   z-index: 9;
}
#wb_Text3
{
   position: absolute;
   left: 785px;
   top: 52px;
   width: 137px;
   height: 17px;
   text-align: center;
   z-index: 5;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0%;
   top: 1277px;
   width: 100%;
   height: 2px;
   z-index: 12;
}
#wb_Text4
{
   position: absolute;
   left: 146px;
   top: 1226px;
   width: 678px;
   height: 17px;
   text-align: center;
   z-index: 8;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Layer6
{
   position: absolute;
   text-align: center;
   left: 0%;
   top: 94px;
   width: 100%;
   height: 2px;
   z-index: 11;
}
#wb_Text22
{
   position: absolute;
   left: 319px;
   top: 1425px;
   width: 332px;
   height: 17px;
   text-align: center;
   z-index: 4;
}
#Layer6_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#Button1
{
   position: absolute;
   left: 176px;
   top: 1111px;
   width: 239px;
   height: 32px;
   z-index: 10;
}
#wb_Text26
{
   position: absolute;
   left: 51px;
   top: 52px;
   width: 85px;
   height: 17px;
   text-align: center;
   z-index: 0;
}
#wb_Text18
{
   position: absolute;
   left: 437px;
   top: 1336px;
   width: 96px;
   height: 19px;
   text-align: center;
   z-index: 3;
}
@media only screen and (min-width: 850px) and (max-width: 969px)
{
div#container
{
   width: 850px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer6
{
   left: 0px;
   top: 94px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 850px;
}
#wb_Text26
{
   left: 51px;
   top: 52px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 157px;
   top: 495px;
   width: 537px;
   height: 199px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 157px;
   top: 780px;
   width: 537px;
   height: 280px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 377px;
   top: 1359px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 259px;
   top: 1444px;
   width: 332px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 1308px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 850px;
}
#wb_Text3
{
   left: 696px;
   top: 52px;
   width: 137px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 391px;
   top: 1393px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 430px;
   top: 1393px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text4
{
   left: 159px;
   top: 1245px;
   width: 537px;
   height: 34px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 280px;
   top: 141px;
   width: 291px;
   height: 343px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 157px;
   top: 1133px;
   width: 232px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #FFFFFF;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 10px;
}
#Button1
{
   line-height: 32px;
}
}
@media only screen and (min-width: 650px) and (max-width: 849px)
{
div#container
{
   width: 650px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer6
{
   left: 0px;
   top: 94px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 650px;
}
#wb_Text26
{
   left: 51px;
   top: 52px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 57px;
   top: 495px;
   width: 537px;
   height: 199px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 57px;
   top: 775px;
   width: 537px;
   height: 280px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 275px;
   top: 1335px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 157px;
   top: 1420px;
   width: 332px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 1301px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 650px;
}
#wb_Text3
{
   left: 489px;
   top: 52px;
   width: 137px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 289px;
   top: 1369px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 328px;
   top: 1369px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text4
{
   left: 57px;
   top: 1225px;
   width: 537px;
   height: 34px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 182px;
   top: 144px;
   width: 287px;
   height: 338px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 57px;
   top: 1124px;
   width: 230px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #FFFFFF;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 10px;
}
#Button1
{
   line-height: 32px;
}
}
@media only screen and (min-width: 450px) and (max-width: 649px)
{
div#container
{
   width: 450px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer6
{
   left: 0px;
   top: 94px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 450px;
}
#wb_Text26
{
   left: 51px;
   top: 52px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 17px;
   top: 483px;
   width: 424px;
   height: 216px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 13px;
   top: 764px;
   width: 424px;
   height: 296px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 177px;
   top: 1353px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 59px;
   top: 1438px;
   width: 332px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 1290px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 450px;
}
#wb_Text3
{
   left: 291px;
   top: 52px;
   width: 137px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 191px;
   top: 1387px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 230px;
   top: 1387px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text4
{
   left: 12px;
   top: 1224px;
   width: 424px;
   height: 34px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 99px;
   top: 148px;
   width: 253px;
   height: 298px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 17px;
   top: 1143px;
   width: 228px;
   height: 32px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #FFFFFF;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 10px;
}
#Button1
{
   line-height: 32px;
}
}
@media only screen and (min-width: 350px) and (max-width: 449px)
{
div#container
{
   width: 350px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer6
{
   left: 0px;
   top: 94px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 350px;
}
#wb_Text26
{
   left: 133px;
   top: 26px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 13px;
   top: 403px;
   width: 327px;
   height: 249px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 12px;
   top: 709px;
   width: 327px;
   height: 346px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 127px;
   top: 1388px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 42px;
   top: 1473px;
   width: 266px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 1344px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 350px;
}
#wb_Text3
{
   left: 107px;
   top: 60px;
   width: 137px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 141px;
   top: 1422px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 180px;
   top: 1422px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text4
{
   left: 13px;
   top: 1255px;
   width: 327px;
   height: 52px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 69px;
   top: 131px;
   width: 212px;
   height: 247px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 59px;
   top: 1160px;
   width: 231px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #FFFFFF;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 10px;
}
#Button1
{
   line-height: 28px;
}
}
@media only screen and (max-width: 349px)
{
div#container
{
   width: 250px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#Layer6
{
   left: 0px;
   top: 94px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 250px;
}
#wb_Text26
{
   left: 83px;
   top: 26px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 4px;
   top: 408px;
   width: 242px;
   height: 282px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 3px;
   top: 752px;
   width: 242px;
   height: 412px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 76px;
   top: 1502px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 21px;
   top: 1582px;
   width: 209px;
   height: 33px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 1451px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 250px;
}
#wb_Text3
{
   left: 57px;
   top: 60px;
   width: 137px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_FontAwesomeIcon1
{
   left: 90px;
   top: 1536px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 129px;
   top: 1536px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text4
{
   left: 3px;
   top: 1328px;
   width: 242px;
   height: 69px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 36px;
   top: 162px;
   width: 178px;
   height: 216px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Button1
{
   left: 15px;
   top: 1232px;
   width: 219px;
   height: 28px;
   visibility: visible;
   display: inline;
   margin: 0;
   color: #FFFFFF;
   font-size: 13px;
   font-family: "Bookman Old Style";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 10px;
}
#Button1
{
   line-height: 28px;
}
}
