div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#wb_Text26 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text26 div
{
   text-align: center;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text18 div
{
   text-align: center;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text22 div
{
   text-align: center;
}
#Layer6
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon1
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon2
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 451px;
   top: 1877px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 5;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 490px;
   top: 1877px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 6;
}
#wb_Text2
{
   position: absolute;
   left: 101px;
   top: 769px;
   width: 768px;
   height: 862px;
   z-index: 1;
}
#wb_Image1
{
   position: absolute;
   left: 177px;
   top: 52px;
   width: 616px;
   height: 636px;
   z-index: 0;
}
#Layer6
{
   position: absolute;
   text-align: center;
   left: 0%;
   top: 1787px;
   width: 100%;
   height: 2px;
   z-index: 7;
}
#wb_Text22
{
   position: absolute;
   left: 319px;
   top: 1929px;
   width: 332px;
   height: 19px;
   text-align: center;
   z-index: 4;
}
#Layer6_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text26
{
   position: absolute;
   left: 198px;
   top: 71px;
   width: 85px;
   height: 20px;
   text-align: center;
   z-index: 2;
}
#wb_Text18
{
   position: absolute;
   left: 437px;
   top: 1838px;
   width: 96px;
   height: 19px;
   text-align: center;
   z-index: 3;
}
@media only screen and (min-width: 850px) and (max-width: 969px)
{
div#container
{
   width: 850px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image1
{
   left: 117px;
   top: 52px;
   width: 616px;
   height: 636px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 41px;
   top: 769px;
   width: 768px;
   height: 862px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 198px;
   top: 71px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 377px;
   top: 1838px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 259px;
   top: 1929px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer6
{
   left: 0px;
   top: 1787px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 850px;
}
#wb_FontAwesomeIcon1
{
   left: 391px;
   top: 1877px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 430px;
   top: 1877px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
}
@media only screen and (min-width: 650px) and (max-width: 849px)
{
div#container
{
   width: 650px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image1
{
   left: 17px;
   top: 52px;
   width: 616px;
   height: 636px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 29px;
   top: 768px;
   width: 592px;
   height: 961px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 47px;
   top: 66px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 277px;
   top: 1838px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 159px;
   top: 1929px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer6
{
   left: 0px;
   top: 1787px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 650px;
}
#wb_FontAwesomeIcon1
{
   left: 291px;
   top: 1877px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 330px;
   top: 1877px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
}
@media only screen and (min-width: 450px) and (max-width: 649px)
{
div#container
{
   width: 450px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image1
{
   left: 20px;
   top: 117px;
   width: 410px;
   height: 452px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 11px;
   top: 587px;
   width: 428px;
   height: 1258px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 183px;
   top: 71px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 177px;
   top: 1923px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 59px;
   top: 2014px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer6
{
   left: 0px;
   top: 1887px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 450px;
}
#wb_FontAwesomeIcon1
{
   left: 191px;
   top: 1962px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 230px;
   top: 1962px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
}
@media only screen and (min-width: 350px) and (max-width: 449px)
{
div#container
{
   width: 350px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image1
{
   left: 6px;
   top: 117px;
   width: 338px;
   height: 373px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 9px;
   top: 551px;
   width: 333px;
   height: 1506px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 133px;
   top: 71px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 121px;
   top: 2126px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 34px;
   top: 2217px;
   width: 270px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer6
{
   left: 0px;
   top: 2090px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 350px;
}
#wb_FontAwesomeIcon1
{
   left: 135px;
   top: 2165px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 174px;
   top: 2165px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
}
@media only screen and (max-width: 349px)
{
div#container
{
   width: 250px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Image1
{
   left: 3px;
   top: 114px;
   width: 244px;
   height: 257px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 3px;
   top: 391px;
   width: 244px;
   height: 1984px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text26
{
   left: 83px;
   top: 71px;
   width: 85px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text26
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 77px;
   top: 2433px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 29px;
   top: 2524px;
   width: 193px;
   height: 37px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer6
{
   left: 0px;
   top: 2397px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer6
{
   left: 0%;
   width: 100%;
}
#Layer6_Container
{
   width: 250px;
}
#wb_FontAwesomeIcon1
{
   left: 91px;
   top: 2472px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 130px;
   top: 2472px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
}
