div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text8 div
{
   text-align: justify;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: justify;
}
#wb_Text2 div
{
   text-align: justify;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text18 div
{
   text-align: center;
}
#wb_Text22 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 50px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text22 div
{
   text-align: center;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon1
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon1 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #337AB7;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
}
#FontAwesomeIcon2
{
   height: 30px;
   width: 30px;
}
#FontAwesomeIcon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 30px;
   line-height: 30px;
   vertical-align: middle;
   width: 29px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #337AB7;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 451px;
   top: 2578px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 6;
}
#wb_FontAwesomeIcon2
{
   position: absolute;
   left: 490px;
   top: 2578px;
   width: 30px;
   height: 30px;
   text-align: center;
   z-index: 7;
}
#wb_Text1
{
   position: absolute;
   left: 121px;
   top: 1241px;
   width: 552px;
   height: 20px;
   z-index: 2;
}
#wb_Text2
{
   position: absolute;
   left: 121px;
   top: 1282px;
   width: 728px;
   height: 1015px;
   text-align: justify;
   z-index: 3;
}
#wb_Image1
{
   position: absolute;
   left: 73px;
   top: 88px;
   width: 824px;
   height: 386px;
   z-index: 10;
}
#wb_Text3
{
   position: absolute;
   left: 121px;
   top: 2418px;
   width: 507px;
   height: 17px;
   z-index: 9;
}
#Layer1
{
   position: absolute;
   text-align: center;
   left: 0%;
   top: 2493px;
   width: 100%;
   height: 2px;
   z-index: 11;
}
#Layer1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text6
{
   position: absolute;
   left: 434px;
   top: 32px;
   width: 102px;
   height: 22px;
   text-align: center;
   z-index: 8;
}
#wb_Text7
{
   position: absolute;
   left: 121px;
   top: 524px;
   width: 269px;
   height: 20px;
   z-index: 1;
}
#wb_Text8
{
   position: absolute;
   left: 121px;
   top: 566px;
   width: 728px;
   height: 515px;
   text-align: justify;
   z-index: 0;
}
#wb_Text22
{
   position: absolute;
   left: 319px;
   top: 2629px;
   width: 332px;
   height: 19px;
   text-align: center;
   z-index: 5;
}
#wb_Text18
{
   position: absolute;
   left: 437px;
   top: 2544px;
   width: 96px;
   height: 19px;
   text-align: center;
   z-index: 4;
}
@media only screen and (min-width: 850px) and (max-width: 969px)
{
div#container
{
   width: 850px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text8
{
   left: 61px;
   top: 566px;
   width: 728px;
   height: 515px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 61px;
   top: 524px;
   width: 269px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 61px;
   top: 1241px;
   width: 552px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 61px;
   top: 1282px;
   width: 728px;
   height: 1015px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 377px;
   top: 2593px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 259px;
   top: 2678px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 2542px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 850px;
}
#wb_FontAwesomeIcon1
{
   left: 391px;
   top: 2627px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 430px;
   top: 2627px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text6
{
   left: 374px;
   top: 32px;
   width: 102px;
   height: 22px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 61px;
   top: 2466px;
   width: 530px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 48px;
   top: 98px;
   width: 755px;
   height: 363px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 650px) and (max-width: 849px)
{
div#container
{
   width: 650px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text8
{
   left: 31px;
   top: 484px;
   width: 589px;
   height: 597px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 31px;
   top: 442px;
   width: 269px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 31px;
   top: 1183px;
   width: 552px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 31px;
   top: 1224px;
   width: 589px;
   height: 1131px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 277px;
   top: 2671px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 159px;
   top: 2756px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 2620px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 650px;
}
#wb_FontAwesomeIcon1
{
   left: 291px;
   top: 2705px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 330px;
   top: 2705px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text6
{
   left: 274px;
   top: 44px;
   width: 102px;
   height: 22px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 31px;
   top: 2548px;
   width: 530px;
   height: 17px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 31px;
   top: 96px;
   width: 594px;
   height: 306px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 450px) and (max-width: 649px)
{
div#container
{
   width: 450px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text8
{
   left: 16px;
   top: 376px;
   width: 419px;
   height: 779px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 16px;
   top: 334px;
   width: 269px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 16px;
   top: 1272px;
   width: 314px;
   height: 41px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 16px;
   top: 1334px;
   width: 419px;
   height: 1477px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 177px;
   top: 3166px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 59px;
   top: 3252px;
   width: 332px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 3130px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 450px;
}
#wb_FontAwesomeIcon1
{
   left: 191px;
   top: 3200px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 230px;
   top: 3200px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text6
{
   left: 174px;
   top: 44px;
   width: 102px;
   height: 22px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 16px;
   top: 3059px;
   width: 331px;
   height: 34px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 23px;
   top: 96px;
   width: 405px;
   height: 197px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 350px) and (max-width: 449px)
{
div#container
{
   width: 350px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text8
{
   left: 16px;
   top: 317px;
   width: 320px;
   height: 994px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 18px;
   top: 280px;
   width: 269px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 15px;
   top: 1369px;
   width: 314px;
   height: 41px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 15px;
   top: 1424px;
   width: 321px;
   height: 1857px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 127px;
   top: 3482px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 54px;
   top: 3576px;
   width: 242px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 3439px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 350px;
}
#wb_FontAwesomeIcon1
{
   left: 141px;
   top: 3516px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 180px;
   top: 3516px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text6
{
   left: 124px;
   top: 44px;
   width: 102px;
   height: 22px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 11px;
   top: 3353px;
   width: 331px;
   height: 34px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 21px;
   top: 96px;
   width: 308px;
   height: 149px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 349px)
{
div#container
{
   width: 250px;
}
body
{
   background-color: #000000;
   background-image: none;
}
#wb_Text8
{
   left: 6px;
   top: 274px;
   width: 238px;
   height: 1275px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0;
}
#wb_Text7
{
   left: 6px;
   top: 242px;
   width: 226px;
   height: 20px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text7
{
   margin: 0;
   padding: 0;
}
#wb_Text1
{
   left: 6px;
   top: 1589px;
   width: 238px;
   height: 61px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text2
{
   left: 6px;
   top: 1660px;
   width: 238px;
   height: 2486px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text2
{
   margin: 0;
   padding: 0;
}
#wb_Text18
{
   left: 77px;
   top: 4325px;
   width: 96px;
   height: 19px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text18
{
   margin: 0;
   padding: 0;
}
#wb_Text22
{
   left: 31px;
   top: 4419px;
   width: 189px;
   height: 37px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text22
{
   margin: 0;
   padding: 0px 0px 50px 0px;
}
#Layer1
{
   left: 0px;
   top: 4282px;
   height: 2px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FBFBFB;
   background-image: none;
}
#Layer1
{
   left: 0%;
   width: 100%;
}
#Layer1_Container
{
   width: 250px;
}
#wb_FontAwesomeIcon1
{
   left: 91px;
   top: 4359px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon1
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon1 i
{
   line-height: 30px;
   font-size: 30px;
   width: 26px;
}
#wb_FontAwesomeIcon2
{
   left: 130px;
   top: 4359px;
   width: 30px;
   height: 30px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#FontAwesomeIcon2
{
   width: 30px;
   height: 30px;
}
#FontAwesomeIcon2 i
{
   line-height: 30px;
   font-size: 30px;
   width: 29px;
}
#wb_Text6
{
   left: 74px;
   top: 44px;
   width: 102px;
   height: 22px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 6px;
   top: 4213px;
   width: 238px;
   height: 52px;
   visibility: visible;
   display: inline;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Image1
{
   left: 9px;
   top: 96px;
   width: 232px;
   height: 113px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
}
